*, 
*::before,
*::after{
    margin:0;
    Padding:0;
    box-sizing:inherit;
}

html {
    //This defines what 1rem is
    //[(16/10)px *100] Default font value for this site
    font-size:62.5%;
}
 
body {
    box-sizing:border-box;
}